.geral{
   background-color: rgb(248, 163, 248);
   border-radius: 25px; 
   width: 700px;
   height: 1000px;
   padding: 30px;
   margin: 0 auto;
   display: block;
}


img{
    padding: 100px;
    border: 8px;
    width: 500px;
    height: 300px;
    object-fit: cover;
    
    
}

.breve {
    color: #ffffff;
}

body {
    background-color: rgb(247, 204, 243);
}

.albuns{
    background-color: bisque;
}